# registry=http://10.73.15.109/repository/npm-proxy/
registry=http://13.235.16.244:8081/repository/h5-npm-releases-repo1/
init.author.name = admin
init.author.email = shreya.saxena002@gmail.com
email=shreya.saxena002@gmail.com
always-auth=true
_auth=YWRtaW46c3Jndg= 



# YWRtaW46c3I=     
# YWRtaW46c3Jndg=    10.73